<p id="notice"><%= notice %></p>

<h1 id = "title2">Measurments</h1>
<div class = "container">
 <div class = "row">
  <div class = "col-md-6",id = "page-conatiner">
  <div class="table-responsive">
   <table  class = "table table-bordered" >
    <thead class="thead-dark">
    <%= stylesheet_link_tag 'measurements', media: 'all'%>
      <tr>
        <th>Date</th>
        <th>Weight-Kg</th>
        <th>Weight-Stone</th>
        <th>Weight-Pounds</th>
        <th>Bodyfat %</th>
        <th colspan="3"></th>
      </tr>
    </thead>

   <tbody>
    <% @measurements.each do |measurement| %>
       <tr>
        <td><%= measurement.week %></td>
        <td><%= measurement.weightKG %></td>
        <td><%= measurement.weightStone %></td>
        <td><%= measurement.weightPounds %></td>
        <td><%= measurement.BodyFat %></td>
        <td><%= link_to 'Show', measurement %></td>
        <td><%= link_to 'Edit', edit_measurement_path(measurement) %></td>
        <td><%= link_to 'Destroy', measurement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       </tr>
       <% end %>
       </tbody>
    </table>
  </div>

    <br>

  <%= link_to 'New Measurment', new_measurement_path %>
   </div>
  
  <div class = "col-md-6", id = "measurments">
  
  <div id = "second">
  <h6 id = "weight">Calculate Weight </h6>
  <%= @result %>
      

 

  </div>  
  <div id = "input">
  
  <%= form_tag "/validate" do %>
    <%= text_field_tag :value %>
    <%= text_field_tag :unit %>
    <%= submit_tag "Search" %>
    <% end %>
    <%= @result %>
  </div>
  </div>
 </div>
<div>


<Strong>User Email: </Strong>
<%= @email %> </td>
<br>
<Strong>Page Accessed: </Strong>
<%= @time %> </td>




