<p id="notice"><%= notice %></p>

<p>
  <strong>Week:</strong>
  <%= @measurement.week %>
</p>

<p>
  <strong>Weightkg:</strong>
  <%= @measurement.weightKG %>
</p>

<p>
  <strong>Weightstone:</strong>
  <%= @measurement.weightStone %>
</p>

<p>
  <strong>Weightpounds:</strong>
  <%= @measurement.weightPounds %>
</p>

<p>
  <strong>Bodyfat:</strong>
  <%= @measurement.BodyFat %>
</p>

<%= link_to 'Edit', edit_measurement_path(@measurement) %> |
<%= link_to 'Back', measurements_path %>
