<p id="notice"><%= notice %></p>

<h1 class = "title">Personal Trainers</h1>
<div class = "page-conatiner">

<table class = "table">
  <thead>
  <%= stylesheet_link_tag 'gym_classes', media: 'all', 'data-turbolinks-track': 'reload' %>
    <tr>
      <th>First Name</th>
      <th>Second Name</th>
      <th>Desription</th>
      <th>Amount of Clients</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @personal_trainers.each do |personal_trainer| %>
      

      <tr>
        <td><%= personal_trainer.firstName %></td>
        <td><%= personal_trainer.secondName %></td>

        <td><%= personal_trainer.desription %></td>
        <td><%= personal_trainer.amountOfClients %></td>
        <td><%= link_to 'Show', personal_trainer %></td>
        <td><%= link_to 'Edit', edit_personal_trainer_path(personal_trainer) %></td>
        <td><%= link_to 'Destroy', personal_trainer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.admin == true %>
<%= link_to 'New Personal Trainer', new_personal_trainer_path %>
<% end %>
</div>

