<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @gym_class.Type %>
</p>

<p>
  <strong>Ptname:</strong>
  <%= @gym_class.PTName %>
</p>

<p>
  <strong>Date:</strong>
  <%= @gym_class.Date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @gym_class.Time %>
</p>

<%= link_to 'Edit', edit_gym_class_path(@gym_class) %> |
<%= link_to 'Back', gym_classes_path %>
